/* footer 영역 */
.footer {
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  padding: 4rem;

  border-top: 1px solid #ddd;
}

.footer__top {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

.footer__brand {
  flex: 1;
  flex-direction: column;
}

.footer__brand img {
  width: 52px;
}

.footer__links {
  display: flex;
}
.footer__link-group ul {
  list-style: none;
}

.footer__policies ul {
  display: flex;
  gap: 2rem;
  list-style: none;
}
