:root {
  --carrot-color: #f35816;
  --solid-color-light-color: #ddd;
  /* button color */
  --dark-btn-bg-color: #2a3038;

  /* font color */
  --font-light-gray: #969aa2;
  --font-primary-gray: #666e7d;
  --font-dark: #2a3038;
  /* icon color */
  --carrot-icon-blue: #328eff;
  --carrot-icon-pink: #d95bc4;
  --carrot-icon-yello: #ffae0b;
  --carrot-badge-lightgray: #f3f4f5;
  /* hover color */
  --carrot-hover-color: #ff9364;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #2a3038;
  line-height: 1.5rem;

  max-width: 1400px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100vh;
  margin: 0 auto;
  /* border: 1px solid gray; */
}

.main__container {
  /* max-width: 1400px; */
  width: 100%;
  padding: 1rem;
  text-align: center;
  /* background-color: rgba(0, 0, 0, 0.05); 보기 쉽게 배경색 */
}

/* main header section */
.main__headline {
  font-size: 1.2rem;
  margin-bottom: 5rem;
}

.headline__highlight {
  transition: opacity 0.5s ease;
  display: inline-block; /* transition 적용 위해 필요 */
}
.headline__highlight.hidden {
  opacity: 0;
}

/* main header Input area */
.main__search-area {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
}
/* main header Input area - 지역 버튼 부분 */

.search-area__location-button {
  margin-right: 0.2rem;
  /* padding: 0.6rem 0.8rem; */
  padding: 0.8rem 0.3rem;
  border-radius: 2rem;
  border: none;
  text-align: center;
  font-weight: 600;
  color: white;
  background-color: var(--dark-btn-bg-color);
}

/* main header Input area - 검색창 부분 */
.search-input__wrapper {
  width: 100%;
  /* padding: 0.3rem 15rem 0.35rem 1rem; */
  padding: 0.3rem 1rem;
  font-size: 1rem;
  border-radius: 2rem;
  border: 1px solid var(--solid-color-light-color);
  box-sizing: border-box;
  background-color: white;
}

.search-input__wrapper select {
  border: none;
  background-color: white;
}

.search-input__wrapper input {
  border: none;
  border-left: 1px solid var(--solid-color-light-color);
  padding: 0.3rem 17rem 0.3rem 0.3rem;
}

.search-input__button {
  border: none;
  background: transparent;
  font-size: 1.2rem;
  cursor: pointer;

  background-color: var(--dark-btn-bg-color);
  color: white;
  border-radius: 50%;
}

/* main header Input area - 인기 검색어 */
.search-area__hot-topic {
  display: flex;
  width: 100%;
}

.search-area__hot-topic p,
span {
  margin: 0;
  padding: 0;
}

.search-area__hot-topic p {
  color: var(--font-light-gray);
  margin: 0.6rem;
}
.search-area__hot-topic span {
  margin: 0.6rem;
  color: var(--font-primary-gray);
}

/* main__categories 영역 */
.main__categories {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.category-card {
  width: 8rem;
  height: 7rem;
  padding: 0.3rem;
  border-radius: 0.7rem;
  background-color: var(--carrot-badge-lightgray);
}

/* 지역 배지 리스트 */
.main__local-tags {
  width: 100%;
  display: flex;
  flex-direction: row;

  gap: 1rem;
}

.local-tag {
  padding: 0.4rem 0.6rem;
  border-radius: 4.8rem;
  font-size: 0.8rem;
  font-weight: bold;
  background-color: var(--carrot-badge-lightgray);
}
